.container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  /* background-image: url('../resources/stallions-image.jpeg'); */
  /* background-size: cover; */
  /* background-position: center; */
}

.header {
  text-align: center;
  background-color: #1e90ff;
  color: white;
  padding: 20px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.about, .upcoming-matches, .membership, .accomplishments, .mission, .contact {
  margin-top: 30px;
}

h2 {
  color: #333;
  font-size: 1.8rem;
  border-bottom: 2px solid #1e90ff;
  display: inline-block;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 15px;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn {
  display: inline-block;
  background-color: #1e90ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover {
  background-color: #1c86e0;
}

.page-container {
  display: flex;
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
}

.left-section {
  width: 20%; /* Adjust the width of the left section */
  background-image: url('../resources/stallions-image.jpeg'); /* Path to your image */
  background-size: cover; /* Ensure the image covers the section */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
}

.right-section {
  width: 60%; /* Adjust the width of the right section */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f4f4f4; /* Optional background for the right section */
}

footer{
  background-color: #1c86e0;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}