<div class="container"></div>
<div class="left-section"></div>
<div class="right-section">
  
    <header class="header">
        <h1>Welcome to {{clubName}} !!!</h1>
        <p>Where passion for cricket meets excellence.</p>
    </header>
    
    <section class="about">
    <h2>About Us</h2>
    <p>
      {{clubName}} is a community-driven cricket organization that
      has been fostering talent since 2014. We host friendly matches, tournaments,
      and training sessions for all age groups.
    </p>
  </section>
  <section class="membership">
    <h2>Membership</h2>
    <p>
      Join the {{clubName}} and become a part of our vibrant cricketing community.
      Membership benefits include:
    </p>
    <ul>
      <li>Access to exclusive matches and training sessions.</li>
      <li>Free club merchandise.</li>
      <li>Discounts on tournament fees.</li>
    </ul>
    <button class="btn">Join Now</button>
  </section>
</div>

  

